@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css (or any global CSS file) */
html {
  scroll-behavior: smooth;
}


:root {
  
}

@media (prefers-color-scheme: dark) {
  :root {
 
  }
}

.section {
  scroll-margin-top: 200px; /* Adjust this value based on your header height */
}

body {
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
